@charset "utf-8";
#wrapper {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 17px;
	color: #000;
	height: 950px;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

#headerlogo {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 17px;
	color: #0F0;
	float: left;
	height: 130px;
	width: 370px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}
#headerbilgi {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 17px;
	color: #000;
	background-color: #FC6;
	float: right;
	height: 150px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}


#header {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 17px;
	color: #000;
	background-color: #FC6;
	height: 150px;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

#bodysol {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 17px;
	float: left;
	height: 600px;
	width: 900px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
#bodysag {
	float: right;
	height: 600px;
	width: 490px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: 10px;
}
